<div class="row content_container">
  <div class="content_area column medium-8 large-9">
    <%= render 'documents/document' %>
  </div>
  <% @document.documents.each do |document| %>
    <div class="content_area column medium-8 large-9 pb_before">
      <%= render 'documents/subdocument', document: document %>
    </div>
  <% end %>
</div>

<% if @document.module_with_isms? || @document.module_with_begrips? %>
  <div class="content_area column medium-8 large-9 pb_before">
    <div class="row content_area_title_above">
      <h1 class="title">
        Lijst van Genres, Stromingen en Begrippen voor: <%= @document.this_module.title %>
      </h1>
    </div>

    <div class="content_area_begrippen">
      <h2>Genres & Stromingen</h2>
      <table class="content_area_begrippen">
        <% @document.module_isms.each do |begrip| %>
          <tr>
            <td class="begrip_name">
              <%= begrip.name %>
            </td>
            <td class="begrip_description">
              <%= begrip.description.html_safe %>
              <%= begrip.related_words_text('<br />Gerelateerde begrippen: ').html_safe %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="content_area_begrippen pb_before">
      <h2>Begrippen</h2>
      <table class="content_area_begrippen">
        <% @document.module_begrips.each do |begrip| %>
          <tr>
            <td class="begrip_name">
              <%= begrip.name %>
            </td>
            <td class="begrip_description">
              <%= begrip.description.html_safe %>
              <%= begrip.related_words_text('<br />Gerelateerde begrippen: ').html_safe %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
<% end %>
